.btnListIcon /deep/ {
  position: absolute;
  left: 15px;
  top: 7px;
  width: 25px;
}

.btnDetail {
  float: left;
  padding-right: 20px;
  padding-left: 20px;
}

.tabBtn {
  border-radius: 0.2em;

}

.btnResultWish {
  background-color: white;
  border-color: white;
}

.itemDetails th , .shippingDetails th , .sellerInfo th {
  width: 400px;
}

.modalBtn {
  padding: 0;
  cursor: pointer;

}

.modal-title, .modal-body {
  color: black;
}

.carousel-item img, .cardPhoto {
  border: solid 5px black;
  padding: 5px;

}

.roundProgressContainer {
  position: relative;
  width: 35px;
  padding: 0;
  margin: 0;
}

.roundProgressText {
  position: absolute;
  top: 9px;
  font-size: 11px;
  left: 3px;
}

.ratingStar {
  font-size: 20px;
  border-radius: 50%;
  padding: 4px;
  margin: 0;
  color: #1a1a23;
}

.card-img {

  padding: 19px;
}
.card-body p {
  margin: 0;
}

.btnReText {
  display: none;
}

@media screen and (max-width: 400px) {
  .detailBtn {
    font-size: 14px;
    width: 65px;
    padding: 0;
  }

  .btnReText {
    display: inline;
  }

  .btnSimText {
    display: none;
  }

  .sortBtn {
    display: block;
    width: 100%;
    font-size: 15px;
    padding: 5px;
    margin-bottom: 1px;
  }

  .gcesPhotos {
    padding: 0;
  }


}
