.btnListIcon /deep/ {
  position: absolute;
  left: 15px;
  top: 7px;
  width: 25px;
}

.btnDetail {
  float: left;
  padding-right: 20px;
  padding-left: 20px;
}

.tabBtn {
  border-radius: 0.2em;

}

.btnResultWish {
  background-color: white;
  border-color: white;
}

.itemDetails th , .shippingDetails th {
  width: 300px;
}

.modalBtn {
  padding: 0;
  cursor: pointer;

}

.modal-title, .modal-body {
  color: black;
}

.carousel-item img, .cardPhoto {
  border: solid 5px black;
  padding: 5px;

}

