.btnDetail {
  float: right;
  padding-right: 20px;
}

.btnDetailIcon /deep/ {
  position: absolute;
  bottom: 23px;
  right: 15px;
}

.lightRow {
  background-color: #88969c !important;
}

@media screen and (max-width: 400px) {
  .wishResultTab {
    overflow: scroll;
  }
}
