.lightRow {
  background-color: #88969c !important;
}

tbody {
  font-size: 14px;
}

.btn-link:hover {
  cursor: n-resize;
  text-decoration: underline;
  color: #007bff;;
}

.my-pagination /deep/ .ngx-pagination .current {
  background-color: black;
}

.btnDetailIcon /deep/ {
  position: absolute;
  bottom: 23px;
  right: 15px;
}

.btnDetail {
  float: right;
  padding-right: 20px;
}


.noRecords {
  padding: 20px;
  border-color: white;
  background-color: #f7f7be;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: #565421;
}

.BtnSelected {

}

@media screen and (max-width: 400px) {
  .resultDisplay {
    overflow: scroll;
  }
}
