<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="text-center pt-4 pb-4"> Product Search</h2>
      </div>
    </div>
    <form class="formBody">
      <div class="form-group row pb-3">
        <label class="col-sm-3 col-form-label required_field">Keyword</label>
        <div class="col-sm-9">
          <input class="form-control"
                 type="text"
                 placeholder="Enter Product Name (eg. iPhone 8)"
                 (input)="onUserInput($event)"
                 (focusout)="onKeyWordValidation()"
                 (focus)="onKeywordFocus()"
          >

          <div *ngIf="keywordValidation == true" style="display: block"
               class="invalid-feedback">
            Please enter a keyword
          </div>
        </div>

      </div>
      <div class="form-group row pb-3">
        <label class="col-sm-3 col-form-label">Category</label>
        <div class="col-sm-9">
          <select  name="categories" class="form-control CategorySelect">
            <option value="" selected> All Categories</option>
            <option value="550">Art</option>
            <option value="2984">Baby</option>
            <option value="267">Books</option>
            <option value="11450">Clothing, Shoes & Accessories</option>
            <option value="58058">Computers/Tablets & Networking</option>
            <option value="26395">Health & Beauty</option>
            <option value="11233">Music</option>
            <option value="1249"> Video Games & Consoles</option>
          </select>
        </div>
      </div>
      <div class="form-group row pb-3">
        <label class="col-sm-3 col-form-label">Condition</label>
        <div class="col-sm-9 col-form-label">
          <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input">
            <label class="form-check-label">New</label>
          </div>
          <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input">
            <label class="form-check-label">Used</label>
          </div>
          <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input">
            <label class="form-check-label">Unspecified</label>
          </div>
        </div>
      </div>
      <div class="form-group row pb-3">
        <label class="col-sm-3 col-form-label">Shipping Options</label>
        <div class="col-sm-9 col-form-label">
          <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input">
            <label class="form-check-label">Local Pickup</label>
          </div>
          <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input">
            <label class="form-check-label">Free Shipping</label>
          </div>
        </div>
      </div>
      <div class="form-group row pb-3">
        <label class="col-sm-3 col-form-label">Distance (Miles)</label>
        <div class="col-sm-9">
          <input type="text" placeholder="10" class="form-control CategorySelect">
        </div>
      </div>
      <div class="form-group row pb-3">
        <label class="col-sm-3 col-form-label required_field">From</label>
        <div class="col-sm-9 col-form-label">
          <div class="form-check pb-1">
            <input type="radio" class="form-check-input" name="Location" (change)="onLocationSelect()" checked>
            <label class="form-check-label">Current Location</label>
          </div>
          <div class="form-check pb-2">
            <input type="radio" class="form-check-input" name="Location" (change)="onZipSelect()">
            <label class="form-check-label">Other. Please specify zip code:</label>
          </div>
          <input type="text" class="form-control" [disabled]="!zipCodeSelect">
        </div>
      </div>
      <div class="form-group row">
        <button class="btn btn-light ml-3 mr-4"
                type="submit" [disabled]="!(SearchButton && locationAcquired && !zipCodeSelect)">
          <i class="material-icons md-24 btnIcon">search</i>
           Search
        </button>
        <button class="btn btn-light" type="reset" (click)="onReset()">
          <i class="material-icons md-24 btnIcon" >clear_all</i>
          Clear
        </button>
      </div>
    </form>
  </div>
</body>
</html>

