body {
  /*background-color: #2a2f33;*/

  height: 100vh;
}

.CategorySelect {
  width: 30%;
}

.formBody {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.btnSearchClear {
  position: relative;
  width: 97px;
  padding-right: 0px;

}
.btnIcon {
  position: absolute;
  left: 9px;
  top: 6px;
}

.required_field::after {
  content: "*";
  color: red;
}

.MainMenu {
  color: white;
  width: 95%;
  background-color: #2a2f33;
}

.btnResultWish {
  background-color: white;
  border-color: white;
}

.noRecords {
  padding: 20px;
  border-color: white;
  background-color: #f7f7be;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: #565421;
}
